:root {
  --hihgligt-color: #ed6436;
  --font-color: #181818;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--font-color);
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header {
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(107, 106, 106, 0.24) 0px 1px 2px;
  flex: 0;
  display: inline-flex;
  justify-content: space-between;
}

.header::before {
  background-image: url("images/logo2.png");
  background-size: 30px;
  height: 30px;
  width: 30px;
  content: "";
  display: inline-block;
  margin-left: 5px;
}

.header::after {
  background-image: url("images/burger.png");
  background-size: 30px;
  height: 30px;
  width: 30px;
  content: "";
  display: inline-block;
  margin-right: 5px;
}

.header__link--hidden {
  display: none;
}

.header__button {
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.content-header__bold-text {
}

.content-header__button {
}

.content-header__hl-text {
}

.card {
}

.card__images {
  width: 60vw;
  border-radius: 4%;
}

.card__text {
}

.content-header {
}

.content-header__button {
}
